.Contact {
	position:relative;
	form {
		input {
			width:100%;
			padding:4px 10px;
			margin:0 0 10px;
		}
		textarea {
			width:100%;
			height:100px;
			resize: none;
			padding:4px 10px;
			margin:0 0 10px;
		}
		button {
			background-color: transparent;
		}
	}
}

@media screen and (min-width: 992px) {
	.Contact {
		max-width: 500px;
	}
}