.PageWrapper {
	height:100vh;
	padding:50px;
	float: left;
	width:100%;
	position:relative;
	overflow:scroll;
}
.PageWrapperContainer {
	position:relative;
	h1, h2, h3, h4, h5, h6, p, span {
		color:#787878;
	}
}

@media screen and (min-width:992px) {
	.PageWrapper {
		padding:50px;
		max-width:60%;
		height:100vh;
	}
}