.PageWrapper {
	height:100vh;
	padding:0 50px;
	float: left;
	
	width:100%;
	position:relative;
}
.PageWrapperContainer {
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

@media screen and (min-width:992px) {
	.PageWrapper {
		max-width:60%;
		height:100vh;
	}
}